{% extends 'EnsSitesBundle::layout.html.twig' %}
{% block title %} 
{% if app.request.locale == 'en' %}
	{{ entity.titleEn }} - A la Page Ecriture - {{'Ecrivain public sur DINAN, DINARD, SAINT-MALO, LANVALLAY a-la-page-ecriture.fr'|trans}}

{% elseif app.request.locale == 'fr' %}
	{{ entity.title }} - A la Page Ecriture - {{'Ecrivain public sur DINAN, DINARD, SAINT-MALO, LANVALLAY a-la-page-ecriture.fr'|trans}}
 {% endif %}
	
{% endblock %}
{% block meta %}
{% if app.request.locale == 'en' %}
<meta name="keywords" content="{{ entity.titleEn }} {{'A la Page Ecriture Ecrivain public DINAN DINARD SAINT-MALO LANVALLAY a-la-page-ecriture'|trans}}" />
  <meta name="description" content="{{ entity.titleEn }} - {{'A la Page Ecriture - Ecrivain public sur DINAN, DINARD, SAINT-MALO, LANVALLAY  à votre service pour exprimer ce que vous voudriez voir rédigé, et selon vos besoins. a-la-page-ecriture.fr'|trans}}">
 {% elseif app.request.locale == 'fr' %}
 <meta name="keywords" content="{{ entity.title }} {{'A la Page Ecriture Ecrivain public DINAN DINARD SAINT-MALO LANVALLAY a-la-page-ecriture'|trans}}" />
  <meta name="description" content="{{ entity.title }} - {{'A la Page Ecriture - Ecrivain public sur DINAN, DINARD, SAINT-MALO, LANVALLAY  à votre service pour exprimer ce que vous voudriez voir rédigé, et selon vos besoins. a-la-page-ecriture.fr'|trans}}">
 {% endif %}
{% endblock %}
{% block content %}
{% if app.request.locale == 'en' %}
	<h1>{{ entity.titleEn }}</h1> 
    <article>
		{{ entity.contentEn | raw  }}
	</article>
{% elseif app.request.locale == 'fr' %}
	<h1>{{ entity.title }}</h1> 
    <article>
		{{ entity.content | raw  }}
	</article>
 {% endif %}
{% endblock %}

