{% extends 'EnsSitesBundle::layout.html.twig' %}
{% block title %} 

{% if app.request.locale == 'en' %}
	{{ entity.titleEn }}
{% elseif app.request.locale == 'fr' %}
	{{ entity.title }}
{% endif %}
- {{'title.nom'|trans}} - {{'title.desc'|trans}}
	
{% endblock %}
{% block meta %}
{% if app.request.locale == 'en' %}
	<meta name="keywords" content="{{ entity.titleEn }} {{'head.meta'|trans}}" />
	<meta name="description" content="{{ entity.titleEn }} - {{'head.desc'|trans}}">
{% elseif app.request.locale == 'fr' %}
	<meta name="keywords" content="{{ entity.title }} {{'head.meta'|trans}}" />
	<meta name="description" content="{{ entity.title }} - {{'head.desc'|trans}}">
 {% endif %}
{% endblock %}
{% block content %}
{% if app.request.locale == 'en' %}
	<h1>{{ entity.titleEn }}</h1> 
    <article>
		{{ entity.contentEn | raw  }}
	</article>
{% elseif app.request.locale == 'fr' %}
	<h1>{{ entity.title }}</h1> 
    <article>
		{{ entity.content | raw  }}
	</article>
 {% endif %}
{% endblock %}

